/*
Background rgb(7, 3, 3)
div rgb(21, 20, 82)
Primary rgb(63, 31, 71)
button rgb(167, 6, 13)
button hover rgb(223, 1, 16)
text rgb(250, 176, 141)
*/

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  color:rgb(250, 176, 141);
}

body {
  background-color: rgb(14, 14, 14);
}
div {
}
a {
  text-decoration: none;
  color: darkslategrey;
}
a:hover, a:active {
  text-decoration: underline;
  color: slategrey;
}
ul {
  list-style-type: none;
}

.grid-container {
  background-color: rgba(0, 0, 0, 0);
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 10px;
  grid-template-areas:
  'n'
  'i'
  'g'
  's'
  's1'
  's2'
  's3'
  'd'
  'p'
  'p1'
  'p2'
  'p3'
  'c'
  'f'
  ;
}

.navbar {
  grid-area: n;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 1px;
}
.button {
  display: block;
  text-decoration: none;
  background-color: rgb(14, 14, 14);
  color:rgb(250, 176, 141);
  border: 0px;
  font-family: serif;
  font-size: medium;
  padding: 10px;
}

.button:hover, .button:active {
  background-color: rgba(90, 14, 14);
  text-decoration: none;
  color:rgb(250, 176, 141);
}

.button-inverse {
  display: block;
  text-decoration: none;
  background-color: rgba(90, 14, 14);
  color:rgb(250, 176, 141);
  border: 0px;
  font-family: serif;
  font-size: medium;
  padding: 10px;
}

.button-inverse:hover, .button-inverse:active {
  background-color: rgb(14, 14, 14);
  text-decoration: none;
  color:rgb(250, 176, 141);
}
.line-left{
  border-left: 1px solid rgb(250, 176, 141);
}
.line-right{
  border-right: 1px solid rgb(250, 176, 141);
}
.line-bottom{
  border-bottom: 1px solid rgb(250, 176, 141);
}
.line-top{
  border-top: 1px solid rgb(250, 176, 141);
}

.game{
  grid-area: g;
  height: 100%;
  width: 100%;
}

.intro{grid-area: i;}

.skills{grid-area: s;}

.skill1{grid-area: s1;}
.skill2{grid-area: s2;}
.skill3{grid-area: s3;}

.demos{grid-area: d;}

.projects{grid-area: p;}

.project1{grid-area: p1;}
.project2{grid-area: p2;}
.project3{grid-area: p3;}

.contacts{grid-area: c;}

.footer{grid-area: f;}


@media only screen and (min-width: 768px) {
  .grid-container{
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas: 
    '. n n n n n n n n n n .'
    '. g g g g i i i i i i .'
    '. d d d d d d d d d d .'
    '. s s s s s s s s s s .'
    '. s1 s1 . s2 s2 . s3 s3 . . .'
    '. p p p p p p p p p p .'
    '. p1 p1 . p2 p2 . p3 p3 . . .'
    '. c c c c c c c c c c .'
    '. f f f f f f f f f f .';
  }
}


